<footer class="footer text-center">
    <div id="bottom-inner">
        &copy; 
        <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> | 
        <a class="bottom-item" href="<%=theme.github%>" target="_blank">GitHub</a> | 
        Powered by
        <a class="bottom-item" href="https://hexo.io" target="_blank">Hexo</a> &
        <a class="bottom-item" href="https://github.com/KevinOfNeu/hexo-theme-xoxo" target="_blank">Theme-xoxo</a>
    </div>
</footer>